body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Libre Bodoni', serif;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
}

.hero-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

.logo {
    margin-bottom: 2rem;
}

.images .left-image {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.images .right-image {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.images .bottom-image {
    position: absolute;
    bottom: 10%;
    right: 10%;
}